@model hypster_tv_DAL.newsPost
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_Editors.cshtml";
}
<style>
#mceu_18 {
    width: 26px;
}

figure.align-left {
float: left;
}

figure.align-right {
    float: right;
}

figure.image img {
    margin: 8px 8px 0 8px;
}

figure.image figcaption {
    margin: 6px 8px 6px 8px;
    text-align: center;
}

input[type=checkbox] {
    margin-left: 10px;
}
</style>
<link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.css">
<script src="/Scripts/jquery.js"></script>
<script src="/Scripts/jquery.datetimepicker.full.js"></script>
<script src="/Scripts/scripts.js"></script>
<div style="float:left; width:28%; min-height:300px; background-color:#353535; border-radius:3px; padding:1%; text-align:left;">
    <div style="float:left; width:100%;">
        <h2>Edit Post @ViewBag.ID</h2>
    </div>

    <div style="float:left; width:100%; ">
        <!-- POST VIDEO -->
        <div style="float:left; width:100%; margin-top:15px; background-color:#222222; color:#FFFFFF; cursor:pointer;" onclick="showHide_PostVideo();">
            <span style="font-size:17px; font-weight:bold;">&nbsp;YOUTUBE VIDEO</span>
        </div>
        <div id="PostVideo_cont" style="display:none; float:left; width:100%; text-align:left; line-height:25px;">
            YouTube video URL:<br />
            <input id="YouTube_ID" type="text" value="" style="width:98%;" /><br />
            <input type="button" value="generate code" onclick="setEmbedVideo($('#YouTube_ID').val());" style="width:155px;" />
            <br /><br />

            <textarea id="PostVideo_EditTextArea1" style="display:none; width:98%; height:30px;"></textarea>
            <script type="text/javascript">
                function setEmbedVideo(val) {
                    if (val == "") {
                        alert("Plase Enter video GUID");
                        return;
                    }
                    var youtube_guid = val.match(/v=([^&]+)/)[1];
                    if (youtube_guid == "") {
                        alert("Unable to parse URL.");
                        return;
                    }
                    $("#PostVideo_EditTextArea1").css("display", "block");
                    $("#PostVideo_EditTextArea1").val("<span class=\"PostVideoCont\" style=\"width:420px; height:250px; margin-top:5px;\"><iframe width=\"420\" height=\"250\" src=\"http://www.youtube.com/embed/" + youtube_guid + "\" frameborder=\"0\" allowfullscreen></iframe></span>");
                }
            </script>
        </div>
        <!-- POST VIDEO -->
        <!-- POST MUSIC PLAYER -->
        <div style="float:left; width:100%; margin-top:15px; background-color:#222222; color:#FFFFFF; cursor:pointer;" onclick="showHide_PostMusicPlayer();">
            <span style="font-size:17px; font-weight:bold;">&nbsp;MUSIC PLAYER</span>
        </div>

        <div id="PostMusicPlayer_cont" style="display:none; float:left; width:100%; text-align:left; line-height:25px;">
            Username:<br />
            <div class="wrapper" style="width:270px;">
                <input id="Music_User_ID" type="text" style="width:83%;" class="input_field" /><button onclick="getPlaylists()">GO</button>
            </div><br />            
            Playlist ID:<br />
            <select id="Music_Playlist_ID" class="input_field" style="width:270px;height:24px;line-height:24px;background:#eee;">
                <option value=""></option>
            </select><br />

            <input type="button" value="generate code" onclick="setEmbedMusicPlayer($('#Music_User_ID').val(), $('#Music_Playlist_ID').val());" style="width:155px;" />
            <br /><br />

            <textarea id="PostMusicPlayer_EditTextArea1" style="display:none; width:98%; height:30px;"></textarea>
            <script type="text/javascript">
                function setEmbedMusicPlayer(user_name, playlist_id)
                {
                    var errMsg = "";
                    if (user_name == "")
                        errMsg += "Username\n";
                    if (playlist_id == "")
                        errMsg += "Playlist ID\n";

                    if (errMsg != "")
                        alert("Please fill out the following fields:\n" + errMsg);
                    else
                    {
                        $.ajax({
                            type: "POST",
                            url: "/Editors/managePost/getUserIdByName?username=" + user_name,
                            async: true,
                            success: function (data) {
                                $("#PostMusicPlayer_EditTextArea1").css("display", "block");
                                $("#PostMusicPlayer_EditTextArea1").val("<iframe src=\"http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/hypsterPlayer/MPL_News?media_type=playlist&playlist_id=" + playlist_id + "&us_id=" + data + "\" style=\"width:320px; height:550px; border:none;\"></iframe>");
                            }
                        });
                    }
                }
            </script>
        </div>
        <!-- POST MUSIC PLAYER -->
    </div>
</div>

<div style="float:left; width:60%; min-height:550px; min-height:300px; background-color:#353535; border-radius:3px; padding:1.5%; margin-left:1%; text-align:left;">
    <div style="float:left; width:100%; line-height:30px;">
        Post Url:
        <a href="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/breaking/details/@Model.post_guid" target="_blank">http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/breaking/details/@Model.post_guid</a>
        @using (Html.BeginForm("Edit", "managePost", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return validatePost();" }))
        {
            @Html.HiddenFor(m => m.post_guid)
            @Html.HiddenFor(m => m.post_id)
            @Html.HiddenFor(m => m.post_image)

            <text>Title:</text>
            @Html.TextBoxFor(m => m.post_title, new { @id = "newsPost_Title", @class = "newsPost_Title input_fields" })<br /><br />
            <text>Image: (max size - 585px x 330px)</text><br />
            <input type="file" name="file" id="file" style="width:40%; height:22px; border:1px solid #454545; background-color:#EEEEEE; color:#000000;" />
            <div style="float:left; width:100%;">
                <div class="Post_mainCont" id="PreviewContHolder" style="display:none; float:left; width:625px; min-height:345px; padding:2% 2.5% 2.5% 2.5%; background-color:#111111; border-radius:2px; text-align:left; ">
                </div>
            </div><br /><br />
            <div style="float:left; width:98%; margin:1%; overflow:hidden; text-align:center;">
            @if (Model.post_image != null)
            {
                <img alt="" src="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/imgs/i_posts/@Model.post_image?@(new Random().Next(1000, 100000))" />
            }
            </div>
            <text>Content:</text>
            @Html.TextAreaFor(m => m.post_content, new { @id = "post_content", @class = "newsPost_Content input_fields", @style = "width:80%" })<br />            

            <text>Short Content:</text>
            @Html.TextAreaFor(m => m.post_short_content, new { @id = "post_ShortContent", @class = "newsPost_ShortContent input_fields", @style = "height:60px" })<br /><br />

            <text>Music Player:</text>
            @Html.TextAreaFor(m => m.MusicPlayer, new { @class = "newsPost_ShortContent", @style = "height:100px" })<br />


            <text>Status:</text><br />
            <select name="post_status" id="post_status" style="width:250px; height:25px;" onchange="changeValue(this.value)">
                <option value="@((int)hypster_tv_DAL.postStatus.NoActive)" @if (Model.post_status == (int)hypster_tv_DAL.postStatus.NoActive)
                { <text> selected="selected" </text>  }>Draft</option>
                <option value="@((int)hypster_tv_DAL.postStatus.Active)" @if (Model.post_status == (int)hypster_tv_DAL.postStatus.Active)
                { <text> selected="selected" </text>  }>Published</option>
            </select>
            <br />
            <text>Date Create: </text>
            <text><i>@Model.post_date</i></text><input type="hidden" name="post_date" id="post_date" value="@Model.post_date" />
            <br /><br />
            <div id="SchedulePo">
                <text>Scheduled Publish: </text>
                <input type="radio" name="scheduled" value="Yes" onclick="scheduledValue(this.value)" /><text>Yes            </text>
                <input type="radio" name="scheduled" value="No" onclick="scheduledValue(this.value)" checked /><text>No            </text><br />
                <text>Publish Date Time: </text><input type="text" value="" id="datetimepicker" name="datetimepicker" class="input_fields" autocomplete="off" style="width:200px" disabled />                 
                <span id="timezone" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:16px;font-weight:bold;color:#F00"></span>
                <br /><br />
            </div>
            <div style="margin:5px 0px">
                <text>Newsletter Attributes:</text><br />
                <input type="checkbox" id="featured" value="Featured" /><text>Featured</text>
                <input type="checkbox" id="newsletter" value="Newsletter" /><text>Newsletter</text>
                <input type="checkbox" id="f_playlist" value="Playlist" /><text>Featured Playlist</text>
                <input type="checkbox" id="more" value="More" /><text>More</text>                
            </div>
            <div id="chkbxGenres" style="margin:10px 0px">
                <text>Post Genres:</text><br />
                <table style="border:none;line-height:0px">
                    <tr>
                        <td><input type="checkbox" name="genre" id="1" value="1" /><text>Indie Pop</text></td>
                        <td><input type="checkbox" name="genre" id="2" value="2" /><text>Young Pop Icons</text></td>
                        <td><input type="checkbox" name="genre" id="3" value="3" /><text>Folk</text></td>
                        <td><input type="checkbox" name="genre" id="4" value="4" /><text>Urban</text></td>
                        <td><input type="checkbox" name="genre" id="5" value="5" /><text>Hip Hop and Rap</text></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="genre" id="6" value="6" /><text>Rock</text></td>
                        <td><input type="checkbox" name="genre" id="7" value="7" /><text>EDM</text></td>
                        <td><input type="checkbox" name="genre" id="8" value="8" /><text>Country</text></td>
                        <td><input type="checkbox" name="genre" id="9" value="9" /><text>Big Music News</text></td>
                    </tr>
                </table>
            </div>
            <text>Tags:</text>
            <div style="float:left; width:100%;">
                <input type="hidden" name="newTagArticle" id="newTagArticle" value="@Model.post_id" />
                <input type="text" id="newTagName" name="newTagName" value="" /> <input type="button" value="Add Tag" onclick="addNewTag_click();" />
            </div>
            <div id="tagsHolder1" style="float:left; width:100%; min-height:55px; margin-top:10px; ">
                @Html.Action("getNewsTags", "managePost")
            </div>
            <div style="float:left; margin-top:20px; width:100%; text-align:right;">
                <input type="text" id="postgenres" name="postgenres" style="display:none" />
                <input type="text" id="attributes" name="attributes" style="display:none" />
                <input id="previewBtn" type="button" value="Preview" onclick="PreviewPost();" />
                <input type="submit" value="Save Post" />
                <input type="button" value="Cancel" onclick="window.location='/Editors/managePost';" />
            </div>
            @Html.ValidationMessage("", new { @class = "txtValidator" });
        }
    </div>
</div>
<script type="text/javascript">
    var isPreview = false;
    var d = new Date();
    function validatePost()
    {
        var errMsg = "";
        var attrStr = "";
        var genre_list = "";
        var n = $("input[name='genre']").length;
        $("#attributes").val("");
        $("#postgenres").val("");
        tinyMCE.triggerSave();
        $("#mceu_29.mce-panel").css("border","solid 0px");
        $(".input_fields").removeClass("error");
        if ($("#post_title").val() == "")
        {
            $("#post_title").addClass("error");
            errMsg += "Title\n";
        }
        if ($("#post_content").val() == "")
        {
            $("#mceu_29.mce-panel").css("border","solid 2px #f00");
            errMsg += "Content\n";
        }
        if ($("#post_ShortContent").val() == "")
        {
            $("#post_ShortContent").addClass("error");
            errMsg += "Short Content\n";
        }
        if ($("#post_status").val() == 0 && $("input[name='scheduled']:checked").val() == "Yes" && $("#datetimepicker").val() == "")
        {
            $("#datetimepicker").addClass("error");
            errMsg += "The scheduled date and time must be set\n";
        }
        for (var i = 1; i <= n; i++)
        {
            if ($("#" + i).is(":checked"))
            {
                if (genre_list != "")
                    genre_list += ";";
                genre_list += i;
            }
        }
        $("#postgenres").val(genre_list);
        if ($("#featured").is(":checked")) { attrStr += "Featured"; }
        if ($("#newsletter").is(":checked")) { if (attrStr != "") attrStr += ";"; attrStr += "Newsletter"; }
        if ($("#f_playlist").is(":checked")) { if (attrStr != "") attrStr += ";"; attrStr += "Playlist"; }
        if ($("#more").is(":checked")) { if (attrStr != "") attrStr += ";"; attrStr += "More"; }
        $("#attributes").val(attrStr);
        if (errMsg != "")
        {
            alert("Please Fill Up OR Correct the following REQUIRED fields:\n" + errMsg);
            return false;
        }
        else
        {
            $("#datetimepicker").val(new Date($("#datetimepicker").val()).toGMTString());
            return true;
        }
    }
    function PreviewPost()
    {
        if (isPreview == false)
        {
            $("#PreviewContHolder").css("display", "block");
            var prepare_title = "<h2>" + $("#post_title").val() + "</h2>";
            $("#PreviewContHolder").html(prepare_title + $("#post_content").val());
            $("#previewBtn").val("Editor");
            isPreview = true;
        }
        else
        {
            $("#PreviewContHolder").css("display", "none");
            $("#PreviewContHolder").html("");
            $("#previewBtn").val("Preview");
            isPreview = false;
        }
    }

    function scheduledValue(val)
    {
        if (val == "No") {
            $("#datetimepicker").val("");
            $("#datetimepicker").prop("disabled", true);
        }
        else
            $("#datetimepicker").prop("disabled", false);
    }

    function changeValue(val)
    {
        if (val == 1)
            $("#SchedulePo").css("display","none");
        else
            $("#SchedulePo").css("display","");
    }

    function formatLocalTime(localtime)
    {
        var year = localtime.getFullYear();
        var month = ((localtime.getMonth()+1)<10)?"0"+(localtime.getMonth()+1):(localtime.getMonth()+1);
        var date = (localtime.getDate()<10)?"0"+localtime.getDate():localtime.getDate();
        var hour = (localtime.getHours()<10)?"0"+localtime.getHours():localtime.getHours();
        var minute = (localtime.getMinutes()<10)?"0"+localtime.getMinutes():localtime.getMinutes();
        return year + "/" + month + "/" + date + " " + hour + ":" + minute;
    }

    tinymce.init({
        selector: "textarea#post_content.newsPost_Content",
        height: 550,
        theme: "modern",
        plugins: [
            "advlist autolink autosave link lists preview hr anchor pagebreak spellchecker searchreplace wordcount code media nonbreaking textcolor colorpicker image imagetools emoticons"
        ],
        extended_valid_elements: "script[async=true|charset|defer=defer|language|src|type=text/javascript]",
        toolbar: "bold italic underline strikethrough forecolor backcolor | cut copy paste searchreplace bullist numlist outdent indent | undo redo preview link unlink | image emoticons code ",
        menubar: false,
        image_advtab: true,
        toolbar_items_size: "medium",
        image_caption: true,
        image_description: true,
        browser_spellcheck: true
    });
      
    $.datetimepicker.setLocale("en");
    $("#datetimepicker").datetimepicker({
        format:'Y/m/d H:i',
        dayOfWeekStart: 0,
        lang: "en",
        stepping: 15,
        minDate: d,
        startDate: d
    });

    $(document).ready(function () {
        var AsocGenres = "";
        $.ajax({
            type: "POST",
            url: "/Editors/managePost/getScheduledPostInfo?post_id=" + @ViewBag.ID,
            async: true,
            success: function (data) {
                if (data != "non")
                {
                    var s_info = data.split(',');
                    if (s_info[1] == 0) {
                        var scheduledUTCDateTime = new Date(s_info[0]);
                        var localTime = scheduledUTCDateTime.getTime() - (d.getTimezoneOffset() * 60000);
                        var localDt = new Date(localTime);
                        $("#datetimepicker").val(formatLocalTime(localDt));
                        $('input:radio[name=scheduled]')[0].checked = true;
                        scheduledValue("Yes");
                    }
                    else {
                        $('input:radio[name=scheduled]')[1].checked = true;
                        scheduledValue("No");
                    }
                }
            }
        });
        $.ajax({
            type: "POST",
            url: "/Editors/managePost/getAssociatedGenreIds?id=" + @ViewBag.ID,
            async: true,
            success: function (data) {
                AsocGenres = data.split(';');
                for (var i = 0; i < AsocGenres.length; i++){
                    $("input:checkbox[id='" + AsocGenres[i] + "']").prop("checked", true);
                }
            }
        });
        $.ajax({
            type: "POST",
            url: "/Editors/managePost/getPostNewsletters?id=" + @ViewBag.ID,
            async: true,
            success: function (data) {
                if (data != null || data != "")
                {
                    var s_info = data.split(';');
                    for (var i = 0; i < s_info.length; i++)
                    {
                        $("input:checkbox[value='" + s_info[i] + "']").prop("checked", true);
                    }
                }
            }
        });
        if (@Model.post_status != 0)
            $("#SchedulePo").css("display","none");
    });
</script>