@model hypster_tv_DAL.newsPost
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_Editors.cshtml";
}
<link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.css">
<script src="/Scripts/jquery.js"></script>
<script src="/Scripts/jquery.datetimepicker.full.js"></script>
<div style="float:left; width:28%; min-height:300px; background-color:#353535; border-radius:3px; padding:1%; text-align:left;">
    <div style="float:left; width:100%;">
        <h2>Edit Post @ViewBag.ID</h2>
    </div>

    <div style="float:left; width:100%; ">
        <!-- POST VIDEO -->
        <div style="float:left; width:100%; margin-top:15px; background-color:#222222; color:#FFFFFF; cursor:pointer;" onclick="showHide_PostVideo();">
            <span style="font-size:17px; font-weight:bold;">&nbsp;YOUTUBE VIDEO</span>
        </div>
        <div id="PostVideo_cont" style="display:none; float:left; width:100%; text-align:left; line-height:25px;">
            YouTube video URL:<br />
            <input id="YouTube_ID" type="text" value="" style="width:98%;" /><br />
            <input type="button" value="generate code" onclick="setEmbedVideo($('#YouTube_ID').val());" style="width:155px;" />
            <br /><br />

            <textarea id="PostVideo_EditTextArea1" style="display:none; width:98%; height:30px;"></textarea>
            <script type="text/javascript">
                function setEmbedVideo(val) {
                    if (val == "") {
                        alert("Plase Enter video GUID");
                        return;
                    }
                    var youtube_guid = val.match(/v=([^&]+)/)[1];
                    if (youtube_guid == "") {
                        alert("Unable to parse URL.");
                        return;
                    }
                    $("#PostVideo_EditTextArea1").css("display", "block");
                    $("#PostVideo_EditTextArea1").val("<span class=\"PostVideoCont\" style=\"width:420px; height:250px; margin-top:5px;\"><iframe width=\"420\" height=\"250\" src=\"http://www.youtube.com/embed/" + youtube_guid + "\" frameborder=\"0\" allowfullscreen></iframe></span>");
                }
            </script>
        </div>
        <!-- POST VIDEO -->
        <!-- POST MUSIC PLAYER -->
        <div style="float:left; width:100%; margin-top:15px; background-color:#222222; color:#FFFFFF; cursor:pointer;" onclick="showHide_PostMusicPlayer();">
            <span style="font-size:17px; font-weight:bold;">&nbsp;MUSIC PLAYER</span>
        </div>

        <div id="PostMusicPlayer_cont" style="display:none; float:left; width:100%; text-align:left; line-height:25px;">
            Username:<br />
            <div class="wrapper" style="width:270px;">
                <input id="Music_User_ID" type="text" style="width:83%;" class="input_field" /><button onclick="getPlaylists()">GO</button>
            </div><br />            
            Playlist ID:<br />
            <select id="Music_Playlist_ID" class="input_field" style="width:270px;height:24px;line-height:24px;background:#eee;">
                <option value=""></option>
            </select><br />

            <input type="button" value="generate code" onclick="setEmbedMusicPlayer($('#Music_User_ID').val(), $('#Music_Playlist_ID').val());" style="width:155px;" />
            <br /><br />

            <textarea id="PostMusicPlayer_EditTextArea1" style="display:none; width:98%; height:30px;"></textarea>
            <script type="text/javascript">
                function setEmbedMusicPlayer(user_name, playlist_id)
                {
                    var errMsg = "";
                    if (user_name == "")
                        errMsg += "Username\n";
                    if (playlist_id == "")
                        errMsg += "Playlist ID\n";

                    if (errMsg != "")
                        alert("Please fill out the following fields:\n" + errMsg);
                    else
                    {
                        $.ajax({
                            type: "POST",
                            url: "/Editors/managePost/getUserIdByName?username=" + user_name,
                            async: true,
                            success: function (data) {
                                $("#PostMusicPlayer_EditTextArea1").css("display", "block");
                                $("#PostMusicPlayer_EditTextArea1").val("<iframe src=\"http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/hypsterPlayer/MPL_News?media_type=playlist&playlist_id=" + playlist_id + "&us_id=" + data + "\" style=\"width:320px; height:550px; border:none;\"></iframe>");
                            }
                        });
                    }
                }
            </script>
        </div>
        <!-- POST MUSIC PLAYER -->
    </div>
</div>

<div style="float:left; width:60%; min-height:550px; min-height:300px; background-color:#353535; border-radius:3px; padding:1.5%; margin-left:1%; text-align:left;">
    <div style="float:left; width:100%; line-height:30px;">
        Post Url:
        <a href="http://@System.Configuration.ConfigurationManager.AppSettings["newsHostName"]/breaking/details/@Model.post_guid" target="_blank">http://@System.Configuration.ConfigurationManager.AppSettings["newsHostName"]/breaking/details/@Model.post_guid</a>
        @using (Html.BeginForm("Edit", "managePost", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.post_guid)
            @Html.HiddenFor(m => m.post_id)
            @Html.HiddenFor(m => m.post_image)

            <text>Title:</text>
            @Html.TextBoxFor(m => m.post_title, new { @class = "newsPost_Title" })<br />
            <text>Image:</text><br />
            <input type="file" name="file" id="file" style="width:40%; height:22px; border:1px solid #454545; background-color:#EEEEEE; color:#000000;" />
            <input type="text" value="http://@System.Configuration.ConfigurationManager.AppSettings["newsHostName"]/imgs/i_posts/@Model.post_image" style="width:56%;" />
            <div style="float:left; width:100%;">
                <div class="Post_mainCont" id="PreviewContHolder" style="display:none; float:left; width:625px; min-height:345px; padding:2% 2.5% 2.5% 2.5%; background-color:#111111; border-radius:2px; text-align:left; ">
                </div>
            </div>
            <div style="float:left; width:98%; margin:1%; overflow:hidden; text-align:center;">
                <img alt="" src="http://@System.Configuration.ConfigurationManager.AppSettings["newsHostName"]/imgs/i_posts/@Model.post_image?@(new Random().Next(1000, 100000))" />
            </div>
            <text>Content:</text>
            @Html.TextAreaFor(m => m.post_content, new { @class = "newsPost_Content", @style = "width:80%" })<br />

            <text>Short Content:</text>
            @Html.TextAreaFor(m => m.post_short_content, new { @class = "newsPost_ShortContent", @style = "height:60px" })<br />

            <text>Music Player:</text>
            @Html.TextAreaFor(m => m.MusicPlayer, new { @class = "newsPost_ShortContent", @style = "height:100px" })<br />
            

            <text>Status:</text><br />
            <select name="post_status" id="post_status" style="width:250px; height:25px;">
                <option value="@((int)hypster_tv_DAL.postStatus.NoActive)" @if (Model.post_status == (int)hypster_tv_DAL.postStatus.NoActive) { <text> selected="selected" </text>  }>No Active</option>
                <option value="@((int)hypster_tv_DAL.postStatus.Active)" @if (Model.post_status == (int)hypster_tv_DAL.postStatus.Active) { <text> selected="selected" </text>  }>Active</option>
            </select>
            <br />
            <text>Date Create: </text>
            <text><i>@Model.post_date</i></text><input type="hidden" name="post_date" id="post_date" value="@Model.post_date" />
            <br /><br />
            <div id="SchedulePo">
                <text>Scheduled Publish: </text>
                <input type="radio" name="scheduled" value="Yes" onclick="scheduledValue(this.value)" /><text>Yes            </text>
                <input type="radio" name="scheduled" value="No" onclick="scheduledValue(this.value)" checked /><text>No            </text><br />
                <text>Activate Date Time: </text> <input type="text" value="" id="datetimepicker" name="datetimepicker" disabled /><br />
                <span id="scheduleTime" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:16px;font-weight:bold;color:#F00"></span>
                <br />
            </div>
            <text>Tags:</text>
            <div style="float:left; width:100%;">
                <input type="hidden" name="newTagArticle" id="newTagArticle" value="@Model.post_id" />
                <input type="text" id="newTagName" name="newTagName" value="" /> <input type="button" value="Add Tag" onclick="addNewTag_click();" />
            </div>
            <div id="tagsHolder1" style="float:left; width:100%; min-height:55px; margin-top:10px; ">
                @Html.Action("getNewsTags", "managePost")
            </div>

            <div style="float:left; margin-top:20px; width:100%; text-align:right;">
                <input id="previewBtn" type="button" value="Preview" onclick="PreviewPost();" />
                <input type="submit" value="Save Post" />
                <input type="button" value="Cancel" onclick="window.location='/Editors/managePost';" />
            </div>

            <script type="text/javascript">
                var isPreview = false;
                var d = new Date();
                function PreviewPost()
                {
                    if (isPreview == false)
                    {
                        $("#PreviewContHolder").css("display", "block");
                        var prepare_title = "<h2>" + $("#post_title").val() + "</h2>";
                        $("#PreviewContHolder").html(prepare_title + $("#post_content").val());
                        $("#post_content").css("display", "none");
                        $("#previewBtn").val("Editor");
                        isPreview = true;
                    }
                    else
                    {
                        $("#PreviewContHolder").css("display", "none");
                        $("#PreviewContHolder").html("");
                        $("#post_content").css("display", "block");
                        $("#previewBtn").val("Preview");
                        isPreview = false;
                    }
                }

                function scheduledValue(val)
                {
                    if (val == "No") {
                        $("#datetimepicker").val("");
                        $("#datetimepicker").prop("disabled", true);
                    }
                    else
                        $("#datetimepicker").prop("disabled", false);
                }

                tinymce.init({
                    selector: 'textarea#post_content.newsPost_Content',
                    height: 550,
                    plugins: [
                        "advlist autolink autosave link image lists preview hr anchor pagebreak spellchecker",
                        "searchreplace wordcount code media nonbreaking"
                    ],
                    toolbar: "bold italic underline strikethrough | cut copy paste | searchreplace | bullist numlist | undo redo preview | link unlink image media code",
                    menubar: false,
                    toolbar_items_size: 'medium',
                });

                $.datetimepicker.setLocale("en");
                $("#datetimepicker").datetimepicker({
                    format:'Y/m/d H:i',
                    dayOfWeekStart: 0,
                    lang: "en",
                    stepping: 15,
                    minDate: d,
                    startDate: d
                });

                $(document).ready(function () {
                    $.ajax({
                        type: "POST",
                        url: "/Editors/managePost/getScheduledPostInfo?post_id=" + @ViewBag.ID,
                        async: true,
                        success: function (data) {
                            if (data != null || data != "")
                            {
                                var s_info = data.split(',');
                                if (s_info[3] == 0)
                                    $("#scheduleTime").text("This Post is scheduled to be published at " + s_info[2] + ".");
                            }
                        }
                    });
                    if (@Model.post_status != 0)
                        $("#SchedulePo").css("display","none");
                });
            </script>
        }
    </div>
</div>