<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/themes/base/css", "~/css/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <center>
        <div style="width:1130px;clear:both;">
            <div style="float:left; width:100%; color:#FFFFFF; text-align:left;">
                <img alt="Hypster Logo" src="/imgs/logo.gif" style="float:left; margin-top:10px;" />
                <div style="float:right; color:#FFFFFF;">
                    @Html.Partial("~/Views/account/_LoginStatus.cshtml")
                </div>
            </div>
            <div style="float:left; width:100%; min-height:100px; background-color:#353535; border-radius:3px; padding:10px;">
                @RenderBody()
            </div>
            <div style="float:left; width:100%; height:30px;"></div>
        </div>
    </center>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
