@model hypster_admin.Areas.Editors.ViewModels.PlaylistViewModel
@{
    ViewBag.Title = "Index";
    ViewBag.Desc = "Create free playlists, and listen commercial free music.";
    Layout = "~/Views/Shared/_Layout_Editors.cshtml";
}

<div style="float:left; width:28%; min-height:300px; background-color:#353535; border-radius:3px; padding:1%; text-align:left;">
    <div style="float:left;width:100%;">
        <h2>Playlist Management</h2>
    </div>
    <div style="float:left; width:100%; height:600px; overflow:scroll; overflow-x:hidden;">
        <div id="AddNewPlstItm" class="AddNewPlstItm" style="margin-bottom:20px;" onclick="$('#AddNewPlaylist_Container').css('display','block'); $('.AddNewPlstItm').css('display','none');">
            <div style="cursor:pointer;">+ ADD NEW PLAYLIST</div>
        </div>
        <div style="float:left; width:100%; height:25px; color:#FCF088; font-weight:bold; margin:4px;">@Model.member.username's Playlists</div>
        <div style="float:left; width:100%; margin:0 5px;">
            @using (Html.BeginForm("AddNewPlaylist", "managePlaylist", FormMethod.Post))
            { <div id="AddNewPlaylist_Container" style="display:none">
                <input id="AddPlaylist_Name" name="AddPlaylist_Name" type="text" maxlength="60" style="width:250px;" />
                <input id="AddPlaylist_Save" type="submit" value="Add new playlist" />
                <input id="AddPlaylist_Cancel" type="button" value="Cancel" onclick="$('#AddNewPlaylist_Container').css('display','none'); $('.AddNewPlstItm').css('display','block');" />
            </div>
            }

            @foreach (var item in Model.playlist)
            {
                <div id='textName_cont_@item.id' class='selection'>
                    <a href="/Editors/managePlaylist/?playlist_id=@item.id">@item.name</a>
                    <div class="PlstItm_Del" title="Delete Playlist" onclick="Pl_DelPlaylist(@item.id);">Delete List</div>
                </div>
            }
        </div> 
        <br /><br /><hr />
        <div id="cPLCont">
            <div id="CloneNewPlstItm" class="CloneNewPlstItm" onclick="toggleClonePL();">
                <div style="margin:10px 5px; cursor:pointer;">+ CLONE A PLAYLIST</div>
            </div>
            <div id="CloneNewPlaylist_Container" style="display:none; float:left; text-align:left;">
                <input type="radio" name="choice" value="Search Playlist" onclick="reset(); $('#searchByUser').css('display', 'block'); $('#searchByID').css('display', 'none');" checked>Search Playlist
                <input type="radio" name="choice" value="Input Playlist ID" onclick="reset(); $('#searchByUser').css('display', 'none'); $('#searchByID').css('display', 'block');">Input Playlist ID
                <div id="searchByUser" style="height:100px">
                    Username:<br />
                    <div class="wrapper" style="width:270px;">
                        <input id="Music_User_ID" type="text" style="width:83%;" class="input_field" /><button onclick="getPlaylists()">GO</button>
                    </div><br />
                    Choose a Playlist:<br />
                    <select id="Music_Playlist_ID" class="input_field" style="width:270px;height:24px;line-height:24px;background:#eee;" onchange="playlistName('')">
                        <option value=""></option>
                    </select><br />
                </div>
                <div id="searchByID" style="display:none;height:100px">
                    Playlist ID:<br />
                    <div class="wrapper" style="width:270px;">
                        <input id="Playlist_ID" type="text" style="width:97%;" class="input_field" onblur="playlistName('id')" />
                    </div><br />
                </div>
                Playlist Name:<input id="Playlist_Name" type="text" class="input_field" style="width:90%;" />
                @*Owner:<input id="Clone_To" type="text" value="" class="input_field" style="width:90%;" />*@
                <input type="button" class="submit_btn" value="Clone" onclick="var plid = (($('#Music_Playlist_ID').val() != null) ? $('#Music_Playlist_ID').val() : $('#Playlist_ID').val()); validateCloneList(plid, $('#Playlist_Name').val(), '')" />@*$('#Clone_To').val()*@
            </div>
        </div>
    </div>    
</div>
<div style="float:left; width:67%; min-height:690px; background-color:#353535; border-radius:3px; padding:1%; margin-left:1%; text-align:left; ">
    <div class="MainHeadSongs" title="Play Playlist: @ViewBag.ActivePlaylistName">
        @ViewBag.ActivePlaylistName
    </div>
    <div style="height:60px;margin:3px;padding:2px;border-radius:5px;">
        <div id="tagsConHldr1">
            <div class="tagsCHHeader1">Tags</div>
            <div id="tagsMCH1">
                @foreach (var item in Model.tags_list)
                {
                    <a id="tg_@item.Tag_Playlist_ID" class="TagI">@item.Tag_Name&nbsp;<span class="delTagSpn  AddNew_Container" onclick="delete_plst_tag('@item.Tag_Playlist_ID')">&nbsp;&nbsp;X&nbsp;&nbsp;</span></a>
                }
            </div>
            <input type="text" maxlength="30" name="newTagName" id="newTagName" style="width:100px;float:left;height:16px;border:none;font-size:10px;border:1px solid #d4ae52;" />
            <div id="tagsEditBtn" class="AddNew_Container" onclick="add_new_tag();">Add</div>
            <input type="hidden" name="newTagPlst" id="newTagPlst" value="@ViewBag.ActivePlaylistID" />
        </div>
    </div>

    <div id="sortablePlaylist">
        <a class="AddNew_Container" href="#" onclick="window.location = '/Editors/managePlaylist/addNewSongs?playlist=' + $('#newTagPlst').val(); return false;"><input type="button" value="Add New Song" /></a>
        @{ 
            int page_size = 20;
            int? total_pages = @ViewBag.TotalResults / page_size;
        }
        @if ((@ViewBag.TotalResults % page_size) > 0) { total_pages += 1; }
        @for (int i = 0; i < total_pages; i++)
        {
            int count = i * page_size;
            int count2 = (i + 1) * page_size;
            if (total_pages * page_size == count2) { count2 = count + (@ViewBag.TotalResults % page_size); }
            <div id="page_@i" style="display:none;">
                @for (int j = count; j < count2; j++)
                {
                    <div id="song_@Model.playlistData_Song[j].playlist_track_id" style="height:60px;margin:3px;padding:2px;border:1px solid #00ff90;border-radius:5px;">
                        <div onmouseup="isMOUSE_UP_ON = true;" style="width:90%;font-size:12px;">
                            <img class="SongImg" alt="" src="http://i.ytimg.com/vi/@Model.playlistData_Song[j].YoutubeId/0.jpg" />
                            <span style="margin-left:5px;">@(j+1)</span>
                            @Model.playlistData_Song[j].Title
                        </div>
                        <div class="SongItm_Edt" title="Play Song" onclick="OpenPlayerM('https://www.youtube.com/watch?v=@Model.playlistData_Song[j].YoutubeId')" style="width:5%"></div>
                        <div class="SongItm_Del" title="Delete Song" onclick="Pl_DelSong(@Model.playlistData_Song[j].playlist_track_id, @ViewBag.ActivePlaylistID);" style="width:5%"></div>
                    </div>
                }
            </div>
        }        
        @if (@ViewBag.TotalResults > page_size)
        {
            <div id="PrevBtn" class="pageButton" onclick="pageClick(-1, @total_pages)">PREVIOUS</div>
            <div id="NextBtn" class="pageButton" onclick="pageClick(1, @total_pages)">NEXT</div>
        }
    </div>

    <!-- botttom, tags -->
    @if (Model.playlistData_Song.Count == 0)
    {
        <div class="EmptyPlCont">
            <div>Playlist is empty</div>
        </div>
    }    
    <input type="text" id="showPage" value="" style="display:none" />
    <script type="text/javascript">
        var ClonePLShow = 0;
        $("#textName_cont_@ViewBag.ActivePlaylistID").addClass("selectedPlaylist");
        $("#page_0").css("display", "");
        $("#showPage").val("0");
        $("#PrevBtn").css("display", "none");
        function add_new_tag_nav()
        {
            $("#AddNewTag_InnrContainer").css("display", "block");
            var vrval = $("#AddNewTag_InnrContainer").position().top - $(window).height() / 2 - 50;
            $("html").scrollTop(vrval);
            $("body").scrollTop(vrval);
        }

        function Pl_DelPlaylist(p_playlist_id)
        {
            if (confirm("Are you sure you want to delete?") == true) {
                window.location = "/Editors/managePlaylist/delelePlaylistSong?ACT=delete_playlist&playlist_id=" + p_playlist_id;
            }
        }

        function Pl_DelSong(p_song_id, p_playlist_id)
        {
            if (confirm("Are you sure you want to delete?") == true)
            {
                window.location = "/Editors/managePlaylist/delelePlaylistSong?ACT=delete_song&song_id=" + p_song_id + "&playlist_id=" + p_playlist_id;
            }
        }

        function load_more_songs_plst_details()
        {
            $("#LoMPlstBtnHeader").html("Loading...");

            @*$.ajax({
                type: "POST",
                url: "/create/playlistDetailsAD?playlist_id=@ViewBag.ActivePlaylistID",
                async: true,
                success: function (data) {
                    $('#LoMPlstBtn').css('display', 'none');
                    $('#sortablePlaylist').append(data);
                }
            });*@
        }

        function clean_dead_links()
        {
            Hide_Content();
            $(document).scrollTop(0);
            @*$.ajax({
                type: "POST",
                url: "/playlist/CleanDeadLinks?PL_ID=@ViewBag.ActivePlaylistID",
                async: true,
                success: function (data) {
                    $('#popupContainer').html(data);
                }
            });*@
        }
        function playlistName(input) {
            if (input == "id") {
                $.ajax({
                    type: "POST",
                    url: "/Editors/managePost/getPlaylistName?playlistid=" + $("#Playlist_ID").val(),
                    async: true,
                    success: function (data) {
                        if ($("#Playlist_ID").val() != "") {
                            if (data.indexOf("Error:") >= 0) {
                                $("#Playlist_ID").val("");
                                $("#Playlist_Name").val("");
                                alert(data);
                            }
                            else
                                $("#Playlist_Name").val(data);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status + " " + ajaxOptions + "\n" + thrownError + "\n\n" + xhr.responseText);
                    }
                });
            }
            else
                $("#Playlist_Name").val($("#Music_Playlist_ID option:selected").text());
        }
        $(function () {
            $("#sortablePlaylist").sortable();
            $("#sortablePlaylist").disableSelection();
        });

        function toggleClonePL()
        {
            if (ClonePLShow == 0)
            {
                $("#cPLCont").animate({ height: 250 }, 1000, function () {
                    $("#CloneNewPlaylist_Container").css("display", "");
                    $("#CloneNewPlstItm div").text("- CLONE A PLAYLIST");
                    ClonePLShow = 1;
                });
            }
            else
            {
                $("#cPLCont").animate({ height: 35 }, 1000, function () {
                    reset();
                    $("#CloneNewPlaylist_Container").css("display", "none");
                    $("#CloneNewPlstItm div").text("+ CLONE A PLAYLIST");
                    ClonePLShow = 0;
                });
            }
        }
    </script>
</div>