@model hypster_tv_DAL.Member
@{
    ViewBag.Title = "AddNewUser";
    Layout = "~/Views/Shared/_Layout_WebsiteManagement.cshtml";
}

<div style="float:left; width:28%; min-height:100px; background-color:#353535; border-radius:3px; padding:1%; text-align:left;">
    <div style="float:left; width:100%;">
        <h2>AddNewUser</h2>
    </div>

    <div style="float:left; width:100%;">
    </div>
</div>

<div style="float:left; width:60%; min-height:550px; min-height:300px; background-color:#353535; border-radius:3px; padding:1%; margin-left:1%; text-align:left;">
    <div style="float:left; width:100%; color:#FCF088;">
        <h2>Add New User:</h2>
    </div>

    <div id="userInputTbl" style="float:left; width:100%; text-align:left;">
        @using (Html.BeginForm("AddNewUser", "manageUsers", FormMethod.Post, new { onsubmit = "return validateUserInfo();" }))
        {
            <table id="addUserTbl" style="width:100%;">
                <tr>
                    <td style="width:20%;text-align:right;font-weight:bold;">@Html.LabelFor(m => m.username, "Username: ")</td>
                    <td style="width:30%">@Html.TextBoxFor(m => m.username, new { @id = "username", @class = "newUser_fields", autocomplete = "off" })</td>
                    <td style="width:20%;text-align:right;font-weight:bold;">@Html.LabelFor(m => m.password, "Password: ")</td>
                    <td style="width:30%">@Html.PasswordFor(m => m.password, new { @id = "password", @class = "newUser_fields", autocomplete = "off" })</td>
                </tr>
                <tr>
                    <td style="width:20%;text-align:right;font-weight:bold;">@Html.LabelFor(m => m.name, "Name: ")</td>
                    <td style="width:30%">@Html.TextBoxFor(m => m.name, new { @id = "name", @class = "newUser_fields", autocomplete = "off" })</td>
                    <td style="width:20%;text-align:right;font-weight:bold;">@Html.LabelFor(m => m.email, "Email Address: ")</td>
                    <td style="width:30%">@Html.TextBoxFor(m => m.email, new { @id = "email", @class = "newUser_fields", autocomplete = "off" })</td>
                </tr>
                <tr>
                    <td style="width:20%;text-align:right;font-weight:bold;">@Html.LabelFor(m => m.adminLevel, "Admin Level: ")</td>
                    <td style="width:30%">
                        @Html.DropDownListFor(model => model.adminLevel, new SelectList(
                            new List<Object>
                            {
                                new { Value = 0 , Text = "User" },
                                new { Value = 1 , Text = "Editor" },
                                new { Value = 2 , Text = "Admin"}
                            },
                            "Value", "Text",
                        0), new { @class = "newUser_DropDown" })
                    </td>
                </tr>
            </table>
            @*<hr />
            <table id="addUserTbl2" style="width:100%;">
                <tr>
                    <td style="width:20%;text-align:right;font-weight:bold;">@Html.LabelFor(m => m.country, "Country: ")</td>
                    <td style="width:30%">@Html.TextBoxFor(m => m.country, new { @class = "newUser_fields" })</td>
                    <td style="width:20%;text-align:right;font-weight:bold;">@Html.LabelFor(m => m.city, "City: ")</td>
                    <td style="width:30%">@Html.TextBoxFor(m => m.city, new { @class = "newUser_fields" })</td>
                </tr>
                <tr>
                    <td style="width:20%;text-align:right;font-weight:bold;">@Html.LabelFor(m => m.zipcode, "Zip Code: ")</td>
                    <td style="width:30%">@Html.TextBoxFor(m => m.zipcode, new { @class = "newUser_fields" })</td>
                    <td style="width:20%;text-align:right;font-weight:bold;">@Html.LabelFor(m => m.sex, "Gender: ")</td>
                    <td style="width:30%">
                        @Html.DropDownListFor(model => model.sex, new SelectList(
                            new List<Object>
                            {
                                new { Value = 0 , Text = "Female" },
                                new { Value = 1 , Text = "Male" },
                                new { Value = 2 , Text = "3rd Gender"}
                            },
                            "Value", "Text",
                        0), new { @class = "newUser_DropDown" })
                    </td>
                </tr>
                <tr>
                    <td style="width:20%;text-align:right;font-weight:bold;">Birth Date: </td>
                    <td colspan="3">
                        <table style="align-content:initial">
                            <tr>
                                <td style="width:20%;">Month:</td>
                                <td style="width:20%">
                                    <select id="DOB_MM" name="DOB_MM" class="newUser_DropDown" style="width:72px;">
                                        @for (int i = 1; i <= 12; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </td>
                                <td style="width:10%;">Day:</td>
                                <td style="width:20%">
                                    <select id="DOB_DD" name="DOB_DD" class="newUser_DropDown" style="width:60px;">
                                        @for (int i = 1; i <= 31; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </td>
                                <td style="width:10%;">Year:</td>
                                <td style="width:20%">
                                    <select id="DOB_YYYY" name="DOB_YYYY" class="newUser_DropDown" style="width:80px;">
                                        @for (int i = 1900; i <= 2012; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>*@
            <br />
            <br />
            <div style="margin-top:20px; width:100%; text-align:right;">
                <input type="submit" value="Add New User" class="submit_btn" style="width:150px;" />
                <input type="button" value="Cancel" class="submit_btn" onclick="window.location = '/WebsiteManagement/manageUsers';" />
            </div>
            <br />
            <br />
            @Html.ValidationMessage("", new { @class = "txtValidator" });
        }
    </div>
</div>